<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ariporad.firstround.AlfredSalesforceSearch</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>063BC108-324F-45DB-953D-89966A27B649</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0641C275-9A6C-41AE-A9F2-0993A17100D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0641C275-9A6C-41AE-A9F2-0993A17100D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7BCACE4E-8975-4A3D-9BAB-39DC8B518D42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8AA77C2A-8E6B-45B9-B889-91650A1D9E85</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7BCACE4E-8975-4A3D-9BAB-39DC8B518D42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD8DD348-E34E-44BB-93B4-50BF0CB9CA2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F771DDE7-8CD5-4F4B-8D7A-C31AD535A64F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B3293BDF-196F-40E9-B098-301FDFE7F787</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8AA77C2A-8E6B-45B9-B889-91650A1D9E85</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ari Porad</string>
	<key>description</key>
	<string>Search Salesforce for Companies</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Salesforce Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>force</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching Salesforce for '{query}'...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>search.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Salesforce for Companies</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AD8DD348-E34E-44BB-93B4-50BF0CB9CA2D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F771DDE7-8CD5-4F4B-8D7A-C31AD535A64F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>login-force</string>
				<key>subtext</key>
				<string>Usage  "force-login me@email.com password12345 [2fa-code]"</string>
				<key>text</key>
				<string>Login to Salesforce...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>063BC108-324F-45DB-953D-89966A27B649</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./login.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>login.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0641C275-9A6C-41AE-A9F2-0993A17100D3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Alfred Salesforce Search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7BCACE4E-8975-4A3D-9BAB-39DC8B518D42</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>logout-force</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Log out of Salesforce...</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B3293BDF-196F-40E9-B098-301FDFE7F787</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./login.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>logout.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8AA77C2A-8E6B-45B9-B889-91650A1D9E85</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Alfred Salesforce Search

A simple Alfred workflow for searching for companies (accounts) in Salesforce.

## Requirements

-   Python 3: should be already installed on your Mac. If not, macOS will prompt you to install it.
-   Salesforce: I've tested this against my Salesforce account (which is a fresh install), but mine
    may be configured differently from yours. Please reach out to me if this is an issue. You may
    need admin permissions to get the API keys as described below.

## Installation

1. Double-Click the Workflow file to add it to Alfred.
2. Alfred will prompt you for a Salesforce Client ID and Secret. To aquire them:
    1. Go to Salesforce Setup
    2. Search for "App Manager"
    3. Click "New Connected App"
    4. Fill out the settings as shown:
       ![Example Settings](res/salesforce_app_setup.png)
    5. Click next and through the warning page.
    6. Copy the "Consumer Key" and "Consumer Secret" from the next page, and paste them into Alfren
       when prompted.
        - To the best of my knowledge, it is safe to re-use these keys for multiple users within an
          organization. As far as I know, they will not work for a different Salesforce organization.

## Usage

### Log in

Even though you set up the workflow as a Salesforce app during installation, you need to authenticate
with your personal account. To do this, invoke Alfred and type `login-force you@email.com password12345`
(obviously substituting in your email and password). If you have a 2FA security code, add that at the end: `login-force you@email.com password12355 894332`.

### Searching

Invoke Alfred and type `force company name` to search for `company name`. Search works exactly the same
as it does in Salesforce proper. You must type at least two characters for Salesforce to process the
search.

Once you have a search result, you can select it (hit &lt;kbd&gt;Enter&lt;/kbd&gt; or Click) to open that item in
Salesforce. Or, if you hold down Command while selecting the item, you can open the company's website
(if it has one in Salesforce). Option/Alt does the same thing, but for calling the company's phone
numbers. (Your Mac needs to be properly configured to make calls via your iPhone for this to work
properly. [See here](https://www.macworld.co.uk/how-to/mac/making-phone-calls-on-mac-3593777/) for instructions.)

### Log out

If you want to sign out for some reason, you can use the `logout-force` command in Alfred to do so.

## License

This workflow is &amp;copy; 2020 Ari Porad, and is licensed under [the MIT License](https://ariporad.mit-license.org/).</string>
	<key>uidata</key>
	<dict>
		<key>063BC108-324F-45DB-953D-89966A27B649</key>
		<dict>
			<key>note</key>
			<string>A seperate command to allow the user to log in to Salesforce.</string>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>0641C275-9A6C-41AE-A9F2-0993A17100D3</key>
		<dict>
			<key>note</key>
			<string>Run the login script, which will store the user's token in the keychain. (Usernames and passwords will not be stored.)</string>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>7BCACE4E-8975-4A3D-9BAB-39DC8B518D42</key>
		<dict>
			<key>note</key>
			<string>Display a notification with the status message provided by the script.</string>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>8AA77C2A-8E6B-45B9-B889-91650A1D9E85</key>
		<dict>
			<key>note</key>
			<string>Run the logout script, which will delete any stored tokens/credentials.</string>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>715</integer>
		</dict>
		<key>AD8DD348-E34E-44BB-93B4-50BF0CB9CA2D</key>
		<dict>
			<key>note</key>
			<string>Allow the user to search Salesforce for companies (accounts). The output of this block will be a URL (depending on the user's selection, either to the company's Salesforce page, to its website, or a tel: link to dial its phone number).</string>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>B3293BDF-196F-40E9-B098-301FDFE7F787</key>
		<dict>
			<key>note</key>
			<string>A seperate command to allow the user to log out of Salesforce.</string>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>715</integer>
		</dict>
		<key>F771DDE7-8CD5-4F4B-8D7A-C31AD535A64F</key>
		<dict>
			<key>note</key>
			<string>Open the URL in the user's default browser.</string>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>SALESFORCE_CONSUMER_ID</key>
		<string>3MVG9Kip4IKAZQEWDjSdy2OxPfIiviLVLLUafyu2nxb8AoWpQ1j5eRiAR_9mUdeXLLAyvM7_sUj_EmAGB7Qhi</string>
		<key>SALESFORCE_CONSUMER_SECRET</key>
		<string>40CEF925BBFB625606111F66AADFE11976466668B193833940022A07201A5952</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>SALESFORCE_CONSUMER_ID</string>
		<string>SALESFORCE_CONSUMER_SECRET</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/ariporad/alfred-salesforce-search</string>
</dict>
</plist>
