<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ariporad.alfred.join-olin-zoom</string>
	<key>connections</key>
	<dict>
		<key>5C766E0A-FE15-46AF-832F-23B3BE313B12</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2384B339-90E9-4590-95FE-3EDAFD711EED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95879FEC-BB9E-495A-A6C3-92273CB96283</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2384B339-90E9-4590-95FE-3EDAFD711EED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ari Porad</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Join Olin Zoom</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>olinzoom</string>
				<key>subtext</key>
				<string>It's Zoom Time!</string>
				<key>text</key>
				<string>Join the Olin Zoom</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5C766E0A-FE15-46AF-832F-23B3BE313B12</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://zoom.us/j/93005513510?pwd=SEdWSVpHQWVpMTZjU0hmc0J6alR0Zz09</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2384B339-90E9-4590-95FE-3EDAFD711EED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>zoomolin</string>
				<key>subtext</key>
				<string>It's Zoom Time!</string>
				<key>text</key>
				<string>Join the Olin Zoom</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>95879FEC-BB9E-495A-A6C3-92273CB96283</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2384B339-90E9-4590-95FE-3EDAFD711EED</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>5C766E0A-FE15-46AF-832F-23B3BE313B12</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>95879FEC-BB9E-495A-A6C3-92273CB96283</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
