<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vero.gettingstarted.snippettrigger</string>
	<key>connections</key>
	<dict>
		<key>45F0F99E-E81D-477D-B5D9-1E5D07EF77D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C236FB4-6F6E-4ED7-8334-4445F86D9EB9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8EBB9CF-582B-421F-B063-F0AD38BEF8C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45F0F99E-E81D-477D-B5D9-1E5D07EF77D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vero Pepperrell</string>
	<key>description</key>
	<string>Four Snippet Triggers which perform actions, run scripts, allow free text input and selection from a list</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Snippet Triggers - Getting Started</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>zoom</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>B8EBB9CF-582B-421F-B063-F0AD38BEF8C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>https://olin.zoom.us/my/aporad </string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>45F0F99E-E81D-477D-B5D9-1E5D07EF77D7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5C236FB4-6F6E-4ED7-8334-4445F86D9EB9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This Snippet Trigger example workflow contains 4 types of actions:

1. Triggering a system command
2. Running a script and pasting the output text
3. Requiring you enter free text and pasting the output
4. Choosing from a list and pasting the output

You'll find out more about this feature in the Snippet Trigger object documentation on our website.

Need help with workflows? Pop by the forum (alfredforum.com) if you have any further questions :)</string>
	<key>uidata</key>
	<dict>
		<key>45F0F99E-E81D-477D-B5D9-1E5D07EF77D7</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>5C236FB4-6F6E-4ED7-8334-4445F86D9EB9</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>B8EBB9CF-582B-421F-B063-F0AD38BEF8C4</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.alfredapp.com/help/workflows/triggers/snippet/</string>
</dict>
</plist>
