<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ariporad.alfred.npm-name.available</string>
	<key>connections</key>
	<dict>
		<key>A7041D53-B87B-4D67-80BA-2021FD3098F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77009446-7C61-4F91-A889-B794E963860B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ari Porad</string>
	<key>description</key>
	<string>Check if a package name is available on npm.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>npm name available</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>npm-name</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>‽‽‽...</string>
				<key>script</key>
				<string>name="{query}"

statuscode=$(curl --silent --output /dev/null --write-out "%{http_code}" https://www.npmjs.com/package/$name)

avail=""
msg

if [[ "$statuscode" -eq "404" ]]; then
    avail=1
    msg="YES! 🚀"
else
    avail=0
    msg="No. 😭💩"
fi

cat &lt;&lt;EOF
&lt;?xml version="1.0"?&gt;
    &lt;items&gt;
        &lt;item uid="npm-name" arg="$name" valid="YES" autocomplete="$name" type="file"&gt;
            &lt;title&gt;$name: $msg. $exitcode&lt;/title&gt;
EOF

if [[ "$avail" -eq "0" ]]; then
	cat "&lt;subtitle&gt;Not available on npm. Press Enter to open.&lt;/subtitle&gt;"
else
	cat "&lt;subtitle&gt;Available on npm. Press Enter to open.&lt;/subtitle&gt;"
fi

cat &lt;&lt;EOF
            &lt;text type="copy"&gt;https://www.npmjs.com/package/$name&lt;/text&gt;
            &lt;icon&gt;npm-logo.png&lt;/icon&gt;
        &lt;/item&gt;
    &lt;/items&gt;
EOF</string>
				<key>subtext</key>
				<string>Maybe</string>
				<key>title</key>
				<string>unicorns</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A7041D53-B87B-4D67-80BA-2021FD3098F0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://www.npmjs.com/package/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>77009446-7C61-4F91-A889-B794E963860B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>77009446-7C61-4F91-A889-B794E963860B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A7041D53-B87B-4D67-80BA-2021FD3098F0</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>ariporad.com</string>
</dict>
</plist>
