<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ariporad.Schoology</string>
	<key>connections</key>
	<dict>
		<key>2266628E-748F-42CF-817B-B79D3EC208F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>933B42C3-B822-4374-8C10-C0323EA7436D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>495DE515-EF71-40B5-9C7E-3545DF663193</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>545CDD84-657E-423C-96BA-B3F023E73605</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD9D1F75-4D69-4FAF-BE37-82CF7FC6EE79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>396F9344-4A84-43DD-AAED-C3A14BAE372F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB9AD31E-DBFC-4F51-B905-AFB535FC3758</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C103C3E0-4252-47C6-9D6D-42FE9FC80DD2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7372F44-D72B-43E9-BB8C-6F33A293669C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>67D550AE-97FB-4BEA-BDFE-35DFD85D9C62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB6E6CF5-53BE-4909-8AFF-434432F3A917</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90AB13B8-B33A-4BBA-8E22-36480319304B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Schoology Access</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>history</string>
				<key>subtext</key>
				<string>Open History on Schoology</string>
				<key>text</key>
				<string>History</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>495DE515-EF71-40B5-9C7E-3545DF663193</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://seattleacademy.schoology.com/course/1490581653/materials</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>545CDD84-657E-423C-96BA-B3F023E73605</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://seattleacademy.schoology.com/course/1514806795/materials</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>67D550AE-97FB-4BEA-BDFE-35DFD85D9C62</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>english</string>
				<key>subtext</key>
				<string>Open English on Schoology</string>
				<key>text</key>
				<string>English</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E7372F44-D72B-43E9-BB8C-6F33A293669C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>french</string>
				<key>subtext</key>
				<string>Open French on Schoology</string>
				<key>text</key>
				<string>French</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BD9D1F75-4D69-4FAF-BE37-82CF7FC6EE79</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://seattleacademy.schoology.com/course/1229752896/materials</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>396F9344-4A84-43DD-AAED-C3A14BAE372F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://seattleacademy.schoology.com/course/1141510730/materials</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>90AB13B8-B33A-4BBA-8E22-36480319304B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>debate</string>
				<key>subtext</key>
				<string>Open Debate on Schoology</string>
				<key>text</key>
				<string>Debate</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FB6E6CF5-53BE-4909-8AFF-434432F3A917</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://seattleacademy.schoology.com/course/1182481790/materials</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>933B42C3-B822-4374-8C10-C0323EA7436D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>math</string>
				<key>subtext</key>
				<string>Open Math on Schoology</string>
				<key>text</key>
				<string>Math</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2266628E-748F-42CF-817B-B79D3EC208F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://seattleacademy.schoology.com/course/1218846092/materials</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C103C3E0-4252-47C6-9D6D-42FE9FC80DD2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>science</string>
				<key>subtext</key>
				<string>Open Science on Schoology</string>
				<key>text</key>
				<string>Science</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CB9AD31E-DBFC-4F51-B905-AFB535FC3758</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2266628E-748F-42CF-817B-B79D3EC208F5</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>396F9344-4A84-43DD-AAED-C3A14BAE372F</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>495DE515-EF71-40B5-9C7E-3545DF663193</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>545CDD84-657E-423C-96BA-B3F023E73605</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>67D550AE-97FB-4BEA-BDFE-35DFD85D9C62</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>90AB13B8-B33A-4BBA-8E22-36480319304B</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>933B42C3-B822-4374-8C10-C0323EA7436D</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>BD9D1F75-4D69-4FAF-BE37-82CF7FC6EE79</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>C103C3E0-4252-47C6-9D6D-42FE9FC80DD2</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>CB9AD31E-DBFC-4F51-B905-AFB535FC3758</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>E7372F44-D72B-43E9-BB8C-6F33A293669C</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>FB6E6CF5-53BE-4909-8AFF-434432F3A917</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://seattleacademy.schoology.com</string>
</dict>
</plist>
