<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>4A569932-2C1D-4C9C-96B4-0A224772412A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A46ED143-9235-4BA2-9CD3-42685EC807F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>80F4A5C4-04E7-4C74-93CD-E0C4976180EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E72F3D00-CCB1-44B1-A24F-6C9CF29F71A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A07BAC7B-C569-42CE-8A83-A6C4B9B2DE7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2413DA3-D9DB-4C6A-9A79-DAF52D29E102</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D306CA10-74C4-4289-A07F-8EE721F69A13</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B075E223-D6A9-412C-9661-EB5D5F51F13E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Microsoft Keyboard Hotkeys</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)	tell application "Google Chrome"		activate		make new tab at end of tabs of window 1	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>E72F3D00-CCB1-44B1-A24F-6C9CF29F71A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>115</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>↖</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>80F4A5C4-04E7-4C74-93CD-E0C4976180EE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)	tell application "Safari"		activate		tell window 1
			set current tab to (make new tab)
		end tell	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>A46ED143-9235-4BA2-9CD3-42685EC807F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>119</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>↘</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4A569932-2C1D-4C9C-96B4-0A224772412A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>115</integer>
				<key>hotmod</key>
				<integer>8519680</integer>
				<key>hotstring</key>
				<string>↖</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D306CA10-74C4-4289-A07F-8EE721F69A13</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Google Chrome.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>B075E223-D6A9-412C-9661-EB5D5F51F13E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>119</integer>
				<key>hotmod</key>
				<integer>8519680</integer>
				<key>hotstring</key>
				<string>↘</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A07BAC7B-C569-42CE-8A83-A6C4B9B2DE7C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Safari.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>F2413DA3-D9DB-4C6A-9A79-DAF52D29E102</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Use hotkeys to launch actions by pressing a key combination. You can connect one or more actions to be performed.

Hotkeys are stripped on import, to ensure that they don't clash with your existing hotkeys, so double-click the object and set your own hotkey.

A hotkey needs to contain a modifier (Cmd, Ctrl or Alt) and a keyboard character at least, but your best bet is to use slightly less common combinations (e.g. two modifiers) to avoid clashing with default OS X hotkeys or other apps on your Mac.</string>
	<key>uidata</key>
	<dict>
		<key>4A569932-2C1D-4C9C-96B4-0A224772412A</key>
		<dict>
			<key>note</key>
			<string>[End]</string>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>80F4A5C4-04E7-4C74-93CD-E0C4976180EE</key>
		<dict>
			<key>note</key>
			<string>[Home]</string>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>A07BAC7B-C569-42CE-8A83-A6C4B9B2DE7C</key>
		<dict>
			<key>note</key>
			<string>[Shift][End]</string>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>A46ED143-9235-4BA2-9CD3-42685EC807F5</key>
		<dict>
			<key>note</key>
			<string>New Safari Tab</string>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>B075E223-D6A9-412C-9661-EB5D5F51F13E</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>D306CA10-74C4-4289-A07F-8EE721F69A13</key>
		<dict>
			<key>note</key>
			<string>[Shift][Home]</string>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>E72F3D00-CCB1-44B1-A24F-6C9CF29F71A6</key>
		<dict>
			<key>note</key>
			<string>New Chrome Tab</string>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>F2413DA3-D9DB-4C6A-9A79-DAF52D29E102</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
