<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.joshtronic.flush.alfred</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>562388F8-001A-448F-BBB7-925C2E6A9E72</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C765A864-9CD5-42FF-89EA-B3976C2CE9CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8F1D7FE-1451-4656-BF44-6D696C21A998</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>562388F8-001A-448F-BBB7-925C2E6A9E72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Josh Sherman</string>
	<key>description</key>
	<string>Because nobody likes a floater.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Flush</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash
LONGVERSION=$(system_profiler SPSoftwareDataType | awk '/System Version/{print $5}')
MINOR=$(echo $LONGVERSION | cut -d. -f2)
UPDATE=$(echo $LONGVERSION | cut -d. -f3)

if (( $MINOR &lt; 7 )) ; then 
    FLUSH="dscacheutil -flushcache"
elif (( $MINOR &lt; 10 )) ; then
    FLUSH="killall -HUP mDNSResponder"
elif (( $MINOR == 10 )) ; then
    if (( $UPDATE &lt; 4 )) ; then
        FLUSH="discoveryutil mdnsflushcache"
    else
        FLUSH="killall -HUP mDNSResponder"
    fi
else
    FLUSH="killall -HUP mDNSResponder"
fi

echo "Flushing DNS Cache for $LONGVERSION"
$FLUSH</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>562388F8-001A-448F-BBB7-925C2E6A9E72</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>flush</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C765A864-9CD5-42FF-89EA-B3976C2CE9CC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>flush dns</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Flush DNS...</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E8F1D7FE-1451-4656-BF44-6D696C21A998</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>562388F8-001A-448F-BBB7-925C2E6A9E72</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>C765A864-9CD5-42FF-89EA-B3976C2CE9CC</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>E8F1D7FE-1451-4656-BF44-6D696C21A998</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/joshtronic/alfred2-flush-workflow</string>
</dict>
</plist>
